<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
  <title> {{restaurant.name}} | {{restaurant.address}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <script src="./app.{{buildHash}}.bundle.js"></script>
  <link rel="stylesheet" href="./app.{{buildHash}}.css">
</head>

<body>
  {{> components/topbar }}
  {{> components/menu }}
  <div class="content">
    {{> components/header }}
    <main id="main">
      {{#each menu.menu}}
      <section class="section" id="category-{{@index}}">
        <h3 class="section__title">
          {{categoryTitle}}
        </h3>
        <ul class="section__dishes">
          {{#each dishes}}
          <li class="dish">
            <div class="dish__picture"></div>
            <div class="dish__info">
              <h4 class="dish__title">
                {{dishTitle}}
              </h4>
              <p class="dish__desc">
                {{dishDesc}}
              </p>
              {{#if dishVariants}}
              <ul class="dish__variants">
                {{#each dishVariants}}
                <li class="dish__variant">
                  <div class="desc">
                    {{variantTitle}} {{#if variantDesc}} - {{variantDesc}} {{/if}}
                  </div>
                  <div class="price">
                    {{price}} €
                  </div>
                </li>
                {{/each}}
              </ul>
              {{/if}}

            </div>
          </li>
          {{/each}}
        </ul>
      </section>
      {{/each}}
    </main>
  </div>
</body>

</html>